h3 {
  margin-left: 0.5em;
  font-size: large;
  color: white;
  text-transform: uppercase;
  text-decoration: underline white;
  font-weight: bolder;
}

p {
  margin-left: 1.5rem;
  font-size: medium;
  color: white;
}

button {
  margin: 5px;
}

@media (max-width: 750px) {
  button {
    color: white;
    background-color: #36393F;
  }
  h3{
    color: #36393F;
  }
}

@media (min-width: 750px) {
  button {
    color: #36393F;
    background-color: white;
  }
}
