<div class="home_container grid_10">

  <img src="./assets/chateaumadeperso.png" alt="chateau" class="castle_animation">
  <div class="home_englober">

    <div class="englober_grid">
      <div class="button_container">
        <button mat-button>
          <a href="https://discord.com/api/oauth2/authorize?client_id=774574072054284328&permissions=8&scope=bot" target="_blank" class="reset_link_to_white">Add daikenja to discord</a>
        </button>
        <button mat-button>
          <a href="https://discord.gg/V9t5k5z" target="_blank" class="reset_link_to_white">Join official discord</a>
        </button>
      </div>
    </div>

  </div>
</div>
