/**
 * elements individuels
 */

img {
  opacity: 0.6;
  grid-row: 1/10;
  grid-column: 1/11;
  width: 100%;
}

/**
 * elements locaux
 */
.home_container {

  img {
    grid-row: 2/11;
    grid-column: 1/11;
    width: 60%;
    display: flex;
    margin: 0 auto;
  }

  .home_englober {
    grid-row: 2/11;
    grid-column: 1/11;

    .englober_grid {
      height: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr);

      .button_container {
        grid-column: 2/6;
        grid-row: 3/3;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        button {
          height: 50px;
          background-color: #36393F;
          color: white;
          min-width: 150px;
          font-size: 0.7rem;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .button_container {
    grid-row: 2/2 !important;

    button {
      margin: 1em;
    }
  }
}

@media (min-width: 1200px) {
  .button_container {
    grid-column: 3/5 !important;

    button {
      height: 60px !important;
      font-size: 0.9rem !important;
      min-width: 170px !important;
    }
  }
}

