.documentation_container {
  display: grid;
  grid-template-columns: repeat(10,1fr);
  height: 100%;
  aside {
    background-color: #36393F;
    border-top: solid 2px;
    border-right: solid 2px;
    grid-column: 1/3;
    h2{
      display: flex;
      justify-content: center;
      color: white;
    }
  }
}
